.categories-section {
  color: var(--clr-neutral-600);
  margin-block-start: 6.25rem;
  padding-inline: 1rem;
}

.categories-section .header {
  flex-direction: column;
  gap: 2rem;
}

.categories-section .header .intro,
.categories-section .header .heading {
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.categories-section .header .intro .title,
.categories-section .header .heading .subheading {
  font-size: 1.25rem;
  line-height: 1.2;
  text-transform: capitalize;
}

.categories-section .header .heading .main-heading {
  font-size: calc(var(--fs-300) * 2);
  font-weight: 400;
  line-height: 1.2;
}

.categories-section .header .description {
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.categories-section .header .description .text {
  line-height: 1.5;
}

.categories-section .header .heading .categories-link {
  gap: 0.5rem;
  font-weight: 500;
  color: var(--clr-neutral-600);
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}
.categories-section .header .image img {
  width: 100%;
  border-top-right-radius: 4rem;
  border-bottom-left-radius: 4rem;
}
